/* style CSS */

@font-face {
    font-family: sans;
    src: url(../font/EqualSans.ttf);
}

body {background-image: url("../img/bg.jpg");min-height: 100%;background-repeat: no-repeat;background-attachment: fixed;background-position: center;background-size: cover;}
		
		#side_nav{background-image: url("../img/menu_bg.png");background-repeat: no-repeat;background-size: cover;position:fixed;height: 100%;margin-left: -59%;z-index:1;}
			#side_nav li{list-style: none;margin-top:7%;font-size:3em;}
			#side_nav li:nth-child(3){margin-left:5%;}
			#side_nav li:nth-child(4){margin-left:9%;}
			#side_nav li:nth-child(5){margin-left:16%;font-size:4em;}
			#side_nav li a{list-style: none;}
			#side_nav li a:hover{color: #CFBBA0;}
			#close_Lmenu {cursor:pointer;margin-left: -3%;margin-top:1%;}
			#close_Lmenu span {font-size:0.850em; font-weight: bold}

		footer {position: fixed;bottom: 0px;font-size:1.5em;font-style: oblique; font-weight: bold;}
		#footer_logos{float: right;padding-left:100px;margin-top: -10px;cursor: pointer;}
		#footer_logos a {margin-right:10px;margin-left:10px;margin-bottom: 10px;}

		#nav-button{background-color: transparent;font-size:4em;margin-left: 3%;position: absolute;cursor: pointer;}
	
		header h1{color: white;font-weight: bold; text-transform: uppercase;font-size:5em;text-shadow:  10px 3px 5px black;vertical-align: middle;text-align: center;margin: 0 auto;}
			header h1 img{width: 6%;height:6%;margin-left: -1%;margin-right: -1%;}
		

/*css validator hatalar border-radius ve box-shadow dan kaynaklanmaktadır.Bu benim yazdığım kod ile ilgili değil, validator la ilgilidir.*/
.content{border-radius:15px;background-color:rgba(255, 255, 255, 0.8);box-shadow: 0px 0px 20px 10px;padding-bottom: 6%;width: 45%;margin: 0 auto;margin-top: 5%;}
.same_color{color: #CFBBA0;}
.same_bgcolor{background-color:#CFBBA0; }

		#get-date{margin-left:57em;margin-top: 0%;}
			#gd_logo{width: 4.5em;height: 4.5em;border-radius: 50%;float: none;margin: 0 auto;margin-top:20px;}
				.fa-map-marker{font-size:3em;position: relative;margin:18% 30%;}
			#get-date h4{color:#4F4B4A;text-align: center;font-size:2em;margin-top:20px;margin-bottom:2em;}
			#gd_section1{margin-top:20px; }
				#gd_section1 img{width: 3em;height: 4em;color:#4F4B4A;margin-left:3%;}
				#gd_section1 button{width: 1em;height: 3em;border-radius:10px;box-shadow: 0px 0px 12px 0.2px;color:#4F4B4A; font-size:1.25em;}
			#span2{color:#4F4B4A;text-align: center;font-size:2em;margin-top:1em;}
			.selects {border-radius:10px;box-shadow: 0px 0px 12px 0.2px;color:#4F4B4A; font-size:1.25em;display: block; margin: 0 auto;margin-bottom:60px;margin-top:40px;width: 210px;height: 40px;padding-left:25px;font-size: 1.25em;}
			#gd-submit{border-radius:10px;box-shadow: 0px 0px 12px 0.2px;color:#4F4B4A; font-size:1.50em;margin-left: 8%;margin-top: 1%;height: 2em;}

#anasayfa{display: block;height: 100%;}
#ortaklik{display: none;}
#hakkimizda{display: none;height: 100%;}
#iletisim{display: none;height: 100%;}